<main class="container">
  <h1 class="general-title-margin">
    <%= I18n.t('views.devise.registrations.settings') %>
  </h1>
  <ul class="nav clearfix mb-20" role="tablist">
    <li class="tab-item active" role="presentation">
      <%= link_to I18n.t('views.devise.registrations.address'), addresses_path, class: "tab-link" %>
    </li>
    <li class="tab-item" role="presentation">
      <a aria-controls="privacy" class="tab-link" data-toggle="tab" href="#privacy" role="tab">
        <%= I18n.t('views.devise.registrations.privacy') %>
      </a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade in active" id="privacy" role="tabpanel">
      <%= render 'edit_form' %>
    </div>
  </div>
</main>
