<tr>
  <td>
    <p class="font-16">Subtotal:</p>
  </td>
  <td>
    <p class="font-16"><%= number_to_currency(current_order.total_price, unit: "€") %></p>
  </td>
</tr>
<tr>
  <td>
    <p class="font-16">Coupon:</p>
  </td>
  <td>
    <p class="font-16"><%= number_to_currency(current_order.discount, unit: "€") %></p>
  </td>
</tr>
<tr>
  <td>
    <strong class="font-18">Order Total:</strong>
  </td>
  <td>
    <strong class="font-18"><%= number_to_currency(current_order.total_order_price, unit: "€") %></strong>
  </td>
</tr>
