<table class="general-summary-table">
  <tr>
    <td>
      <p class="font-16">Item Total:</p>
    </td>
    <td>
      <p class="font-16">€<%= current_order.total_price %></p>
    </td>
  </tr>
  <tr>
    <td>
      <p class="font-16">Order Total:</p>
    </td>
    <td>
      <p class="font-16">€<%= current_order.total_order_price %></p>
    </td>
  </tr>
</table>
